<div id="compass-business">
    <div class="business-name">{{business.name}}</div>
    <div class="business-distance">{{getDistance()}} {{units}}</div>
</div>
<div id="close-compass" ng-click="leaveCompassMode()">
    X
</div>
<div class="compass-container">
    <div class="compass-background">
        <img class="compass-image" src="assets/images/payne_compass_bg.png" title="Payne Compass">
    </div>
    <div class="compass-hands" style="transform: rotate({{getDirection()}}deg);-webkit-transform: rotate({{getDirection()}}deg);">
        <img class="compass-image" src="assets/images/payne_compass_hands.png" title="Go that way">
    </div>
    <div class="compass-head" >
        <img class="compass-image" src="assets/images/payne_compass_face.png" title="It's over here">
    </div>
</div>
