<div>
    <h2>{{business.name}}</h2>
    <div>{{business.category}}</div>
    <div>{{business.address}}</div>
    <div ng-click="showCompass(business)">
        <img ng-show="business.showDirection" src="/app/assets/images/arrow645.png" style="transform: rotate({{getDirection()}}deg);-webkit-transform: rotate({{getDirection()}}deg);" title="Direction">
        {{getDistance()}} {{units}}
    </div>
</div>